ul.deck_list, ul.analyze_list{
  padding:0px;
}
ul.deck_list li, ul.analyze_list li{
  max-width: 100%;
  height:40px;
  line-height:28px;
  padding: 5px;
  list-style-type: none;
  background-color: white;
  display: block;
  
  border: 1px solid black;
  border-bottom: none;
}
ul.deck_list li:last-child, ul.analyze_list li:last-child{
  border-bottom: 1px solid black;
}

/* deck edit screen */

li.card button{
  margin-left:5px;
  float:right;
  height:100%;
  line-height:23px;
}
button.quantity{
  width:25px;
}
.input-group{
  margin-bottom:3px;
}
div.input-group#last {
  margin-bottom:15px;
}

/* add coloring for card types */
li.card.monster{
  background-color:brown;
}
li.card.spell{
  background-color:green;
}
li.card.trap{
  background-color:purple;
}

/* analyze screen */
ul.analyze_list{
  padding: 20px;
  background-color: lightblue;
}
.analyze_drop{
  width:100%;
  min-height:400px;
  background-color:gray;
  text-align:center;
  padding:10px;
}
.analyze_drop h3{
  margin:0px 0px 10px;
}
.analyze_list.analyze_hover{
  background-color:yellow;
}
li.or_indicator{
  height:20px;
}
li.or_indicator h4{
  margin:0px;
}
ul.analyze_list li:last-child{
  display:none;
}
.analyze_drop div:last-child{
  display:none;
}