ul.deck_list{
  margin-top: 10px;
  padding:0px;
}
ul.deck_list li{
  max-width: 100%;
  height:40px;
  line-height:28px;
  padding: 5px;
  list-style-type: none;
  background-color: white;
  display: block;
  
  border: 1px solid black;
  border-bottom: none;
}
ul.deck_list li:last-child{
  border-bottom: 1px solid black;
}

/* deck edit screen */

li.card button{
  margin-left:5px;
  float:right;
  height:100%;
  line-height:23px;
}
button.quantity{
  width:25px;
}

/* add coloring for card types */
ul.deck_list li.monster{
  background-color:brown;
}
ul.deck_list li.spell{
  background-color:green;
}
ul.deck_list li.trap{
  background-color:purple;
}