<div class="container" ng-app="ng_app_deck_test">
  <div ng-controller="ng_c_deck_analyze">
    <div class="row">
      <h1>Analyze Deck</h1>
      <div class="col-xs-4">
        <ul class="deck_list">
          <li ng-repeat="card in deck" class="card {{ card.type.toLowerCase() }}" card_quantity="{{ card.quantity }}" card_name="{{ card.name }}" ng-cloak>
            {{ card.quantity }} {{ card.name }}
          </li>
        </ul>
      </div>
      <div class="col-xs-5">
        <div class="analyze_drop">
          <h3>Drag cards into this box - (ANDs)</h3>
          <ul ng-repeat-start="analysis in analyze track by $index" class="analyze_list" analyze_index="{{ $index }}">
            <li>
              Drag substitutes/searchers into this box - (ORs)
            </li>
            <li ng-repeat-start="card in analysis" class="card {{ card.type.toLowerCase() }}" card_name="{{ card.name }}">
              {{ card.name }} 
              <button ng-click="remove_card_from_analyze($event)">Remove</button>
            </li>
            <li class="or_indicator" ng-repeat-end>
              <b>Or</b>
            </li>
          </ul>
          <div class="and_indicator" ng-repeat-end>
            <h4>And</h4>
          </div>
        </div>
        <div ng-show="results_first && results_first">
          Chances of combo going first: {{ results_first }}% <br>
          Chances of combo going second: {{ results_second }}%
        </div>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
    <%= link_to 'Edit', edit_deck_path(@deck) %> | 
    <%= link_to 'Back', decks_path %>
  </div>
</div>

<script>
  var deck_array = <%= raw @deck.contents %>;
</script>

