<h1>Analyze Deck</h1>

<div style="display:inline-block;">
  <div class="deck_list" style="display:inline-block; float:left;">

  </div>
  <div style="display:inline-block; float:left; margin-top:13px; margin-left:20px;">
    <div class="deck_analyze">
  
    </div>

    <div class="analyze_results">
  
    </div>
  </div>
</div>

<script>
  var deck_array = [];
  var deck_string = '<%= raw @deck.contents %>';
  if(deck_string){
    deck_array = JSON.parse(deck_string);
  }
  
  var analyze_array = [];
  
  $(document).ready(function(){
    deck_interface_analyze('div.deck_list', 'div.deck_analyze');
  });
</script>

<div style="block">
<%= link_to 'Edit', edit_deck_path(@deck) %> | 
<%= link_to 'Back', decks_path %>
</div>